<p id="notice"></p>
<h2>注文詳細履歴</h2>
<div class="container px-5 px-sm-0">
 <div class="row">
  <div class= ”col-md”>
  注文情報
  </div>
  <div class ="col-md offset-6">
  請求情報
  </div>
 </div>
 <div class="row">
  <div class= "col-md-6">
    <table class="table table-bordered">
     <tr>
      <th>注文日</th>
      <td><%= l @order.created_at %></td>
     </tr>
     <tr>
      <th>配送先</th>
      <td><%= @order.postal_code %><%= @order.address %><%= @order.name %></td>
     </tr>
     <tr>
      <th>支払方法</th>
      <td><%=@order.payment_method_i18n %></td>
     </tr>
     <tr>
      <th>ステータス</th>
      <td><% if @order.status == "payment_waiting"  %>
        入金待ち
       <% elsif @order.status == "payment_confirmation" %>
        入金確認
    　  <% elsif @order.status =="in_production" %>
    　 　 制作中
    　  <% elsif @order.status =="preparing_delivery" %>
    　   発送準備中
    　  <% elsif @order.status == "delivered" %>
    　   発送済み
      <% end %>
      </td>
     </tr>
    </table>
  </div>

  <div class= "col-md-4 offset-1">
   <table class="table table-bordered">
   <tr>
    <th>商品合計</th>
    <td><%= @order.total_payment.to_i - 800 %></td>
   </tr>
   <tr>
    <th>配送料</th>
    <td><%= @order.shipping_cost %></td>
   </tr>
   <tr>
    <th>請求額</th>
    <td><%=@order.total_payment %></td>
   </tr>
   </table>
  </div>
 </div>
  <div class="row">
   <div class="col-md-8">
    <div class= ”col-md”>
     注文内容
    </div>
    <table class="table table-bordered ml-4">
     <thead>
     <tr>
      <th>商品</th>
      <th>単価（税込み)</th>
      <th>個数</th>
      <th>小計</th>
     </tr>
     </thead>
     <% @order.order_details.each do |order_detail| %>
     <tbody>
     <tr>
      <td><%=order_detail.item.name %></td>
      <td><%=order_detail.price %></td>
      <td><%=order_detail.amount %></td>
      <td><%=order_detail.subtotal %></td>
     </tr>
     </tbody>
      <% end %>
    </table>
   </div>
  </div>
</div>
