 <p id="notice"></p>
 <div class="container px-5 px-sm-0">
  <div class="row pt-5">
   <div class="col-md-2">
   ジャンル検索用スペース
    </div>
   <div class="offset-md-1 col-md-1">
    <%= attachment_image_tag @item, :image, :fill, 300, 300 %>
   </div>
   <div class="offset-md-3 col-md-4">
    <h1><%= @item.name %></h1><br />
    <h2><%= @item.introduction %></h2><br />
    <h3><%= @item.with_tax_price.to_s(:delimited) %>(税込)</h3>

    <%= form_with model: @cart_item, url: cart_items_path, local:true do |f| %>
    <div>
     <%= f.select :amount, *[1..10] ,{ prompt: "個数選択" } %>
    </div>
     <%= f.hidden_field :item_id, value: @item.id %>
     
    <div>
    </div>
    <div class="actions">
     <%= f.submit "カートに入れる" %>
    </div>
     <% end %>
   </div>
  <!--</div>-->
 </div>
